@model PuntoDeVentaWeb.Models.UserViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1>Edit</h1>
    @{
        if (TempData["ErrorMessage"] != null) {
            <div class="alert alert-danger" role="alert">
                <p>@TempData["ErrorMessage"]</p>
            </div>
        }else if (TempData["SuccessMessage"] != null) {
            <div class="alert alert-success" role="alert">
                <p>@TempData["SuccessMessage"]</p>
            </div>
        }
    }
    <div class="">
        <h4>User</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.UserRole)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.UserRole)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            <dt clasS= "col-sm-2">
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>
            <dd class = "col-sm-10">
                @{
                    if(Model.IsActive == true){
                        <span class="badge bg-success">Active</span>
                    }else{
                        <span class="badge bg-danger">Inactive</span>
                    }
                }
            </dd>

            </dt>
        </dl>
    </div>
    <div class="row">
        <div class="col-4">
            @{
                if(Model.IsActive == true){
                    <form asp-action="Disable" method="post">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Disable" class="btn btn-danger" /> |
                    </form>
                }else{
                    <form asp-action="Enable" method="post">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Enable" class="btn btn-success" /> |
                    </form>
                }
            }
        </div>
        <div class="col-4">
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>