@model PuntoDeVentaWeb.Models.UserViewModel

@{
    ViewData["Title"] = "Edit User";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    @{
        if (TempData["ErrorMessage"] != null) {
            <div class="alert alert-danger" role="alert">
                <p>@TempData["ErrorMessage"]</p>
            </div>
        }else if (TempData["SuccessMessage"] != null) {
            <div class="alert alert-success" role="alert">
                <p>@TempData["SuccessMessage"]</p>
            </div>
        }
    }
    <hr />
    <form asp-action="Edit">
        <div class="row">
            <dl class="row">
                <dt class = "form-label">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <input type="text" asp-for="Name" class="form-control" />
                <dt class = "form-label">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <input type="text" asp-for="LastName" class="form-control"/>
                <dt class = "form-label">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <input  type="text" asp-for="Email" class="form-control"/>
                <dt class = "form-label">
                    @Html.DisplayNameFor(model => model.UserRole)
                </dt>
                <select asp-for="UserRole" class="form-select" asp-items="ViewBag.UserRoles" aria-label="Default select example"></select>
                <dt class = "form-label">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>
                <input  type="text" asp-for="PhoneNumber" class="form-control"/>
                <dt clasS= "form-label">
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>
                <dd class = "col-sm-10">
                    @{
                        if(Model.IsActive == true){
                            <span class="badge bg-success">Active</span>
                        }else{
                            <span class="badge bg-danger">Inactive</span>
                        }
                    }
                </dd>
            </dl>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-primary">Save Changes</button>
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </form>
        
</div>