@model IEnumerable<PuntoDeVentaWeb.Models.UserViewModel>

@{
    ViewData["Title"] = "User List";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-controller="Account" asp-action="Register"><i class="fa-solid fa-plus"></i> New User</a>
</p>
@{
    if (TempData["ErrorMessage"] != null) {
        <div class="alert alert-danger" role="alert">
            <p>@TempData["ErrorMessage"]</p>
        </div>
    }else if (TempData["SuccessMessage"] != null) {
        <div class="alert alert-success" role="alert">
            <p>@TempData["SuccessMessage"]</p>
        </div>
    }
}
<hr>
<div class="table-responsive border">
    <table class="table">
        <thead>
            <tr>
                <th>State</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    @if(@item.IsActive) {
                        <td>
                            <span class="badge bg-success">Active</span>
                        </td>
                    } else {
                        <td>
                            <span class="badge bg-danger">Inactive</span>
                        </td>

                    }
                    
                    <td>@item.Name  @item.LastName</td>
                    <td>@item.Email</td>
                    <td>@item.UserRole</td>
                    <td>
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-eye"></i></a>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-edit"></i></a>
                        @if (item.IsActive)
                        {
                            <form asp-action="Disable" asp-route-id="@item.Id" method="post" class="d-inline">
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-danger">
                                    <i class="fa-solid fa-x"></i>
                                </button>
                            </form>
                        }
                        else
                        {
                            <form asp-action="Enable" asp-route-id="@item.Id" method="post" class="d-inline">
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-success">
                                    <i class="fa-solid fa-check"></i>
                                </button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>