@model IEnumerable<PuntoDeVentaWeb.Models.PurchaseDetail>

@{
    ViewData["Title"] = "Purchase Details";
}

<h1>Purchase Details</h1>
@{
    if (TempData["ErrorMessage"] != null) {
        <div class="alert alert-danger" role="alert">
            <p>@TempData["ErrorMessage"]</p>
        </div>
    }else if (TempData["SuccessMessage"] != null) {
        <div class="alert alert-success" role="alert">
            <p>@TempData["SuccessMessage"]</p>
        </div>
    }
}
<p class="d-inline-flex gap-1">
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#createDetail" role="button" aria-expanded="false" aria-controls="createDetail">
        Add Detail
    </a>
    <div class="collapse" id="createDetail">
        <div class="card card-body">
            @{
                await Html.RenderPartialAsync("Create", new PuntoDeVentaWeb.Models.PurchaseDetail());
            }
        </div>
    </div>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purchase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>@Html.DisplayName("Actions")</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purchase.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-eye"></i></a>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-edit"></i></a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
